

llama-cpp-python==0.1.85
langchain-community>=0.3
langchain-core>=0.3
langchain-huggingface>=0.1
langchain-text-splitters>=0.3
sentence-transformers>=3.0
pypdf>=4.0
huggingface_hub>=0.35.3
chromadb==0.4.24
streamlit==1.43.2

